.menu {
    display: block;
}

.menu-item {
    padding: var(--spacing__x-small) var(--spacing__small);
}

@media (hover: hover) {

    .menu-item {

        &:hover {
            background-color: var(--background__colour--hover);
        }
    }

}