$spacings: (
    xx-small: 0.25rem,
    x-small: 0.5rem,
    small: 1rem,
    medium: 1.5rem,
    large: 2rem,
    x-large: 3rem,
    xx-large: 4rem
);

:root {
    --font__size: 14px;
    --font__size--small: 0.875em;
    --font__size--x-small: 0.75em;
    --font__size--large: 1.25em;
    --font__size--x-large: 1.5em;

    --font__weight: 400;
    --font__weight--medium: 500;
    --font__weight--heavy: 700;

    --font__family: 'DM Sans', sans-serif;

    --font__colour: #454555;
    --font__colour--meta: #9999AA;
    --font__colour--compliment: #FFFFFF;

    --transition__timing: 250ms;
    --transition__easing-quartic-out: cubic-bezier(0.165, 0.84, 0.44, 1);

    --background__colour: #FBFBFD;
    --foreground__colour: #FFFFFF;
    --foreground__colour--hover: #F5F5F5;

    --link__colour: #1E90FF;
    --link__colour--hover: darken(#1E90FF, 20%);

    @each $name, $value in $spacings {
        --spacing__#{ $name }: #{ $value };
    }
}